body {
    font-family: 'Fira Mono', monospace;
    line-height: 1.6;
    color: #eeeeee;
    background-color: #202020;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #161616;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a {
    margin-right: 15px;
    text-decoration: none;
    color: #eeeeee;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

header a:hover {
    color: #208cff;
}

header div.title {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 1.8em;
    margin: 0;
}

header img {
    transition: transform 0.3s ease;
}

header img:hover {
    transform: scale(1.1);
}

header a.profile-pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

header a.social-icon img {
    width: 20px;
    height: 20px;
}

header a.social-icon:not(:first-child) {
    margin-left: 15px;
}

header a.social-icon:first-child {
    margin-left: 25px;
}